h1 {
  fill:blue;
  color:blue;
  stroke:blue;
}

/*.col-md-10 {*/
  /*border-style: solid;*/
  /*border-width: 5px;*/
/*}*/


miniViewWindow {
  fill:blue;
  stroke:pink;
  stroke-width:5;
  fill-opacity:0.1;
  stroke-opacity:0.9;
}

.parameters {
  list-style: none;
}

.parameter {
  border-style: solid;
}

th {
  background-color: #CFCFCF;
  min-width: 30px;
  border-style: solid;
  border-width: 2px;
}

td {
  border-color: #0000FF;
  border-style: solid;
  border-width: 2px;
}

th .col-resize {
    position: absolute;
    top: 0;
    right: 0;
    cursor: col-resize;
    width: 4px;
    height: 100%;
    background-color: #0000FF;
}

html, body {
    height: 100%;
}

.fill {
    min-height: 100%;
    height: 100%;
}

#parameter-view-table {
    min-height: 100%;
    height: 100%;
}

.row {
    height: 100%;
}

.container-fluid {
    height: 100%;
}