<!DOCTYPE html>
<html ng-app="parameterViewerModule">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- TODO Should jQuery be included here. Only included it to make use of the each-function so far -->
<!-- <script type="text/javascript" src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script> -->
<script type="text/javascript" src="js/jquery.min.js"></script>

  <script src="js/app.js"></script>

  <!-- TODO Include application files in a better way -->

  <script src="js/module.js"></script>
  <script src="js/controllers/ParameterViewController.js"></script>
  <script src="js/controllers/ParameterListController.js"></script>
  <script src="js/services/BackendService.js"></script>
  <script src="js/services/ParameterViewerService.js"></script>
  <script src="js/directives/ParameterTrackDirective.js"></script>
  <script src="js/directives/ParameterTable.js"></script>

  <script src="js/directives/ResizableColumnDirective.js"></script>
  <!-- TODO Probably not going to use this directive -->
  <!--
  <script src="js/directives/ResizeColumnDirective.js"></script>
-->

  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="app.css">
</head>

<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2" ng-controller="parameterListController">
        Search:
        <input ng-model="query">

        <ul class="parameters">
          <li class="parameter" draggable="true" ondragstart="drag(event)" ng-dblclick="parameterDblClick(parameter.name)" ng-attr-id="{{ 'parameter-' + parameter.name}}" ng-repeat="parameter in parameters | filter: query">
            {{parameter.name}}
            <p>{{parameter.unit}}</p>
          </li>
        </ul>
      </div>

      <div class="col-md-10 parameter-view" ng-controller="parameterViewController" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div id="parameter-view" ng-keydown="handleKeyDownOnGraph($event)" tabindex="1">
          <script type="text/javascript">
            // TODO Instead make use of drag and drop in AngularJs
            function allowDrop(ev) {
              ev.preventDefault();
            }

            function drag(ev) {
              ev.dataTransfer.setData("text", ev.target.id);
            }

            function drop(ev) {
              ev.preventDefault();
              var data = ev.dataTransfer.getData("text");
              var parameterViewer = angular.element($("#parameter-view")).scope();
              parameterViewer.$apply(function() {
                parameterViewer.addParameter(data.substr(10));
              });
            }

          </script>
          <table id="parameter-view-table" parameter-table>
            <thead>
            <tr>
            <th col-resizeable ng-repeat="parameter in displayedParameters" ng-dblclick="headerDblClick(parameter)">
                <!-- <div class="col-resize" ng-mousedown="resizing($event)"></div> -->
                Parameter: {{ parameter }}
            </th>
            <tr>
            </thead>
            <tr>
              <td ng-repeat="parameter in displayedParameters">
                <div parameter-track parameter="{{ parameter }}">
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
